html{
    min-height: 100%;
}

body{
    background: linear-gradient(to bottom, #00cc66,  #66ffcc );
}

footer{
    margin-top: 5%;
    margin-left: 1%;
    float: left;
    width: 98%;
    bottom: 0px;
}

hr{
    color: rgb(0, 0, 0);
    border-style: solid;
    margin-bottom: 10px;
    font-size: 5px;
    border-width: 1px;
}

.TopMenuBar_Override{
    background-color: #3a1148;
    border-color: #3a1148;
}

.PreierLegaueIcon{
    position: absolute;
    height: 50px;
    width: 50px;
    float: left;
    background-image: url("../images/premier_league_icon.png");
}

.Container_Override{
    position: absolute;
    margin-left: 50px;
    float: right;
}

.CollapseOverride{
    background-color: #3a1148;
}

.PlayGround{
    float: left;
    width:100%;
    margin: 0, 50%, 0, 50%;
    padding-top: 5%;
}

.Ball{
    z-index: 1000;
    position: fixed;
    border-radius: 30px;
}







@media screen and (max-height: 960px) {
    .PlayGroundImage {
        height: 720px;
    }

    .Ball {
        height: 25px;
        width: 24px;
    }

}
@media screen and (max-height: 720px) {
    .PlayGroundImage {
        height: 480px;
    }

    .Ball {
        height: 20px;
        width: 19px;
    }
}
@media screen and (max-height: 480px) {
    .PlayGroundImage {
        height: 240px;
    }

    .Ball {
        height: 15px;
        width: 14px;
    }
}



@media screen and (min-height: 1000px) {
    footer{
        margin-top: 5%;
        margin-left: 1%;
        position: absolute;
        width: 98%;
        bottom: 0px;
    }
}


@media screen and (max-width: 960px) {
    .Ball {
        height: 25px;
        width: 24px;
    }
}
@media screen and (max-width: 720px) {
    .Ball {
        height: 20px;
        width: 19px;
    }
}
@media screen and (max-width: 480px) {
    .Ball {
        height: 15px;
        width: 14px;
    }
}

