@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Renato Katalenić<br />
    Croatia, 10000 Zagreb<br />
    <abbr title="Phone">Phone:</abbr>
    +385 1 1111 111
</address>

<address>
    <strong>GitHub:</strong> <a href="https://github.com/Genato/LiveSoccerGame">LiveSoccerGame</a><br />
</address>
