<div class="PlayGround">
    <img id="BallImage" class="img-responsive Ball" src="~/images/Ball.jpg" alt="PlayGround">

    <img class="img-responsive PlayGroundImage" src="~/images/PlayGround.jpg" alt="Ball">
</div>

<div class="GameThings">
    <div class="Left">
        <b>Left </b> <span class="badge">1</span>
    </div>
    <div class="Right">
        <span class="badge">1</span> <b> Right</b>
    </div>

    <div class="ButtonNewGame">
        <button type="button" class="btn btn-primary">New Game</button>
    </div>

    <div class="ButtonNextPlayer">
        <button type="button" class="btn btn-success">Next player</button>
    </div>
</div>

