<div class="PlayGround">

    <div class="Ball">
        <img id="BallImage" class="img-responsive Ball" src="~/images/Ball.jpg" alt="PlayGround">
    </div>

    <img class="img-responsive PlayGroundImage" src="~/images/PlayGround.jpg" alt="Ball">
</div>

