<div class="PlayGround">

    <img class="img-responsive" src="~/images/PlayGround.jpg" alt="Ball">

    <div class="Ball">
        <img class="img-responsive Ball" src="~/images/Ball.jpg" alt="PlayGround">
    </div>

</div>

