<div class="PlayGround">
    <img id="BallImage" class="img-responsive Ball" src="~/images/Ball.jpg" alt="PlayGround">

    <img class="img-responsive PlayGroundImage" src="~/images/PlayGround.jpg" alt="Ball">
</div>

