<div class="PlayGround">
    <img id="BallImage" class="img-responsive Ball" src="~/images/Ball.jpg" alt="PlayGround">

    <img class="img-responsive PlayGroundImage" src="~/images/PlayGround.jpg" alt="Ball">
</div>

<div class="GameThings">
    <div class="player1" id="player1ID_DIV">
        <b>Player1 </b> <span id="player1" class="badge">0</span>
    </div>
    <div class="player2" id="player2ID_DIV">
        <span id="player2" class="badge">0</span> <b> Player2</b>
    </div>

    <div class="ButtonNewGame">
        <button type="button" class="btn btn-primary" onclick="newGame()">New Game</button>
    </div>

    <div class="ButtonNextPlayer">
        <button type="button" class="btn btn-success" onclick="nextPlayer()">Next player</button>
    </div>
</div>

